.settings-widget {
  // border: 1px solid $secondary;
  min-width: 500px;
  @extend .module;
  padding: 0px;

  .window-actions {
    border-radius: 10px 10px 0px 0px;
    background: $background;
    padding: 10px;
  }
  .category {
    background: $background-secondary;
    color: $foreground;
    border-radius: 10px;
    padding: 10px;
    // border: 1px solid $tertiary;

    > label {
      font-size: 1.5em;
      font-weight: 700;
    }

    .subcategory-label {
      font-size: 1.2em;
      margin-top: 10px;
      font-weight: 700;
    }
  }
  .settings {
    padding: 10px;
  }
  .setting {
    @extend .module;
    padding: 10px;
  }
}
